* {
  box-sizing: border-box;
}
body {
  background: #decee6;
  font-family: Ubuntu, sans-serif;
}
main {
  display: flex;
  align-items: flex-start;
  margin: 40px auto;
  max-width: 1200px;
}
section {
  flex: 1;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 20px 30px 30px;
  border-radius: 2px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1em;
}
pre {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 20px 0 0;
}
p {
  margin: 0 0 20px;
  line-height: 1.75em;
}