#note-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.note {
  width: 400px;
  margin: 0 auto 20px;
  padding: 15px 30px;
  background: #777;
  color: #fff;
  transition: opacity 500ms;
}